hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-atdd/
hybris/bin/ext-atddtests/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-customer-experience/
hybris/bin/ext-data/
hybris/bin/ext-eventtracking/
hybris/bin/ext-integration/
hybris/bin/ext-platform-backoffice/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-smartedit/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/bin/ext-webservices/
hybris/bin/platform/
hybris/out/**
hybris/bin/custom/mckesson/mckessonsolrclient/**/MANIFEST*
hybris/config/backup/
hybris/config/solr/**/*.log
hybris/config/solr/**/solr_gc_log_*
hybris/config/solr/**/solr_log_*
hybris/config/solr/**/_schema_analysis*
hybris/config/solr/**/cores/master_mckessonUSPharma_Product_flip*
hybris/config/solr/**/cores/master_mckessonUSPharma_Product_flop*
hybris/config/languages/
hybris/config/tcServer/
hybris/config/licence/installedSaplicenses.properties
hybris/data/*
hybris/log/
hybris/roles/
hybris/temp/
!hybris/data/import/
!hybris/data/export/

**/hsperfdata_*/

hybris/bin/custom/mckesson/mckessonrulesengine/web/webroot/
hybris/bin/custom/mckesson/mckessoninterfaces/web/addonsrc/
hybris/bin/custom/mckesson/mckessoninterfaces/web/webroot/WEB-INF/cache/addons/
hybris/bin/custom/mckesson/mckessoninterfaces/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/mckesson/mckessonstorefront/resources/wro_addons.xml
hybris/bin/custom/mckesson/mckessonstorefront/web/addonsrc/
hybris/bin/custom/mckesson/mckessonstorefront/web/commonwebsrc/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/_ui-src/addons/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/tags/addons/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/tld/addons
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/views/addons/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/WEB-INF/lib/owasp*
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/_ui/desktop/common/fonts/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/_ui/desktop/common/css/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/_ui/desktop/common/js/
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/_ui/desktop/common/images
hybris/bin/custom/mckesson/mckessonstorefront/web/webroot/_ui/addons/
hybris/bin/custom/mckesson/mckessonwebservices/web/addonsrc/
hybris/bin/custom/mckesson/mckessonwebservices/web/testclasses
hybris/bin/custom/mckesson/mckessonwebservices/web/webroot/WEB-INF/cache/addons/
hybris/bin/custom/mckesson/mckessonwebservices/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/mckesson/yb2bacceleratorstorefront/
hybris/bin/custom/mckesson/mckessonsolr/build/**

**/hmc/bin
**/gensrc
**/eclipsebin
**/classes
**/hmc/classes
**/resources/*/*-hmctestclasses.xml
**/resources/*/*-testclasses.xml
**/resources/*/*-webtestclasses.xml
**/web/webroot/WEB-INF/classes

**/build.xml
**/extensioninfo.xsd
**/platformhome.properties
**/resources/beans.xsd
**/resources/items.xsd
**/hmc/resources/hmc.xsd
**/hybris4intellij.properties

hybris/bin/custom/mckesson/mckessonstorefront/web/testclasses/
!.editorconfig

build-tools/
c4c-integration/
hybris-Mobile-Apps-SDK/
hybris-ems/
hybris-sbg/
hybris/.idea/
hybris/idea-module-files/
licenses/
Documents/
build/
microservices/
installer/

hybris/FED/node_modules
hybris/FED/*.log
hybris/FED/build
hybris/FED/tmp
hybris/FED/.grunt
hybris/FED/.DS_Store
hybris/FED/src/_react/#coverage
hybris/FED/yarn.lock
hybris/FED/jsconfig.json
hybris/FED/src/_react/jsconfig.json
!hybris/FED/.jshintignore
!hybris/FED/.babelrc
!hybris/FED/src/_react/.eslintrc
!hybris/FED/src/_react/.prettierrc
!hybris/FED/src/_react/.prettierignore

*.idea
*.iml
*.class
**/rebel.xml
**/velocity.log

/hybris/data/import/integrations/delta

.DS_Store
